<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1><%= @teamname %></h1><br>
    <h2><%= @coach %></h2><br>
    <h2><%= @pg %></h2><br>
    <h2><%= @sg %></h2><br>
    <h2><%= @sf %></h2><br>
    <h2><%= @pf %></h2><br>
    <h2><%= @c %></h2><br>

 </body>
</html>


